@page "/admin"

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

@if(dbStatus == true)
{
<p>Current Status of the Fantasy Database is <span style="color: green;">UP</span></p>
}
else
{
<p>Current Status of the Fantasy Database is <span style="color: red;">DOWN</span></p>
}

@code {
    bool dbStatus = true;
}